<% provide(:title, 'About Us') %> 
<h1>About Us</h1>
<p>
	The vision of IoT List is to create a collabortive internet of things ecosystem.
</p> 

<p>
	Meet the team: 
</p> 

<p>
	Luis 
</p> 

<p>
	Mark
</p> 
